@font-face {
	font-family: "CustomFont";
	src: url("../fonts/1632216484-brownstd-bold.otf") format("opentype"),
		url("../fonts/1632216484-BrownStd-Light.otf") format("opentype"),
		url("../fonts/1632216484-MyriadPro-Regular.otf") format("opentype"),
		url("../fonts/1632216484-Raleway-Bold.ttf") format("opentype"),
		url("../fonts/1632216484-Raleway-Medium.ttf") format("opentype");
}

/* global */
html {
	--hsl-h: 206;
	--hsl-s: 47.9%;
	--hsl-l: 63.1%;
	--color-text: #002642;
	--color-bg: #fff;
	--width: 50em;
	--grey: #eeeeee;
	--color: #61bcfd;
}

input,
select,
textarea {
	border-radius: 0;
	box-shadow: 0 0 0.4rem #0008;
}

button {
	text-transform: uppercase;
	border-radius: 3em;
	background-color: #4736f2;
	background-image: linear-gradient(to left, #783de5, #4736f2);
	transition: background-position 0.5s;
	position: relative;
}
button:hover:not([disabled]) {
	background-color: #4736f2;
	background-position-x: 10em;
}
button::after {
	z-index: -1;
	content: "";
	position: absolute;
	left: 1rem;
	right: 1rem;
	bottom: 0;
	border-radius: 100%;
	height: 1rem;
	transition: 0.2s;
	will-change: filter;
	background-color: inherit;
	filter: drop-shadow(0 0 0.7rem #000f);
}
button:hover:not([disabled])::after {
	filter: drop-shadow(0 0 0.8rem #000f);
}

section {
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.u1-auto-grid > * {
	position: relative;
}
.u1-flex-gap > * {
	position: relative;
}

/* classes */

.cd-dark {
	background-color: var(--color-text);
	color: #fff;
}
.cd-dark h2 {
	color: var(--color);
}
.cd-dark input,
.cd-dark select,
.cd-dark textarea {
	background-color: #17405e;
	color: #fff;
}

.u1-card1 .-circle {
	position: absolute;
	height: 2.6rem;
	width: 2.6rem;
	top: -1.3rem;
	left: 0;
	right: 0;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--color-text);
	color: var(--color-bg);
	border-radius: 100%;
	font-weight: bold;
	font-size: 30px;
}

.u1-card1 {
	padding-top: 1rem;
}

/* header  */
#head {
	position: relative;
	color: #fff;
	padding-bottom: 3rem;
}
#head nav {
	border-bottom: 1px solid;
	text-transform: uppercase;
}
#head nav > ul {
	display: flex;
}
#head nav a {
	margin-right: 1rem;
	display: block;
	color: inherit;
	padding: 0.5rem 0;
}
#head nav li:last-child a {
	margin-right: 0;
}

/*  components  */

.cd-vorteile > div {
	padding: var(--gap);
	background-color: #17405e;
}
.cd-faq {
	background-color: var(--grey);
}
.cd-faq .u1-flex-gap > * {
	background: var(--color-bg);
}

.slide-box {
	margin-bottom: 15rem;
	margin-top: 15px;
	text-align: center;
	margin: auto;
	border-radius: 100%;
	padding: 4rem;
	height: 90vh;
	margin-bottom: 3rem;
	background-size: 100%;
	background-position: center bottom;
	background-repeat: no-repeat;
	background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)), url(../img/sleep.png);
	opacity: 0.6;
}

.slide-box h2 {
	margin-top: 80px;
	color: white;
}
.wide-slide-content {
	width: 50%;
	margin-top: 5rem;
}
.round-box {
	position: absolute;
	height: 2rem;
	width: 2rem;
	background: rgb(135, 183, 245);
	top: 0px;
	left: 90%;
	border-radius: 100%;
	margin-top: -15px;
	padding: 8px;
	padding-top: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.round-box > i {
	color: white;
	transform: rotate(90deg);
}

.passt {
	font-size: 1.5rem;
	color: white;
	width: 10.3rem;
}

.passt > div:nth-child(1) {
	position: relative;
}

.passt > div:nth-child(1) > span:last-child {
	width: 2rem;
	height: 2rem;
	margin-top: -20px;
	display: inline-block;
	border: 1px solid rgb(243, 243, 243);
	vertical-align: middle;
	border-radius: 100%;
}

.passt > div:last-child {
	text-align: right;
	padding-right: 2px;
}

section {
	padding-top: 2.5rem;
	padding-bottom: 2.5rem;
}
