/* global */
html {
	--hsl-h: 206;
	--hsl-s: 47.9%;
	--hsl-l: 63.1%;
	--color-text: #002642;
	--color-bg: #fff;
	--width: 50em;
}

input,
select,
textarea {
	border-radius: 0;
	box-shadow: 0 0 0.4rem #0008;
}

button {
	text-transform: uppercase;
	border-radius: 3em;
	background-color: #4736f2;
	background-image: linear-gradient(to left, #783de5, #4736f2);
	transition: background-position 0.5s;
	position: relative;
}
button:hover:not([disabled]) {
	background-color: #4736f2;
	background-position-x: 10em;
}
button::after {
	z-index: -1;
	content: "";
	position: absolute;
	left: 1rem;
	right: 1rem;
	bottom: 0;
	border-radius: 100%;
	box-shadow: 0 0 1rem #000f;
	height: 29px;
	transition: 0.2s;
	will-change: box-shadow;
}
button:hover:not([disabled])::after {
	box-shadow: 0 0 1.2rem #000f;
}

section {
	padding-top: 2rem;
	padding-bottom: 2rem;
}

/* classes */
.cd-dark {
	background-color: var(--color-text);
	color: #fff;
}
.cd-dark h2 {
	color: var(--color);
}
.cd-dark input,
.cd-dark select,
.cd-dark textarea {
	background-color: #17405e;
	color: #fff;
}

/* header  */
#head {
	position: relative;
	color: #fff;
	padding-bottom: 3rem;
}
#head nav {
	border-bottom: 1px solid;
	text-transform: uppercase;
}
#head nav > ul {
	display: flex;
}
#head nav a {
	margin-right: 1rem;
	display: block;
	color: inherit;
	padding: 0.5rem 0;
}
#head nav li:last-child a {
	margin-right: 0;
}

.title {
	font-size: 50px;
	color: white;
	margin-top: 50px;
	margin-bottom: 10px;
}

.sub-title {
	font-size: 30px;
	color: white;
	font-weight: normal;
}

.container {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
	height: 50vh;
	align-items: center;
}

.box {
	height: 10rem;
	width: 10rem;
}

.align-text-center {
	text-align: center;
}

.white-text {
	color: white;
}
.dark-text {
	color: #132842;
}

.dark-text-lighter {
	color: #3c3948;
}

.test-background {
	background: url("./img/contact-mountain.png");
	background-size: cover;
}

.night-pack-background {
	background: url("./img/pexels-photo-2846764.jpeg");
	background-size: cover;
}
.face-background {
	background: url("./face.jpg");
	background-size: cover;
}

/* end header  */

section-2 {
	background: black;
}

.night-container {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 1rem;
}

.night-box {
	width: 20rem;
	padding: 1rem;
	position: relative;
	background-color: rgb(68, 63, 63);
	margin-bottom: 1rem;
}

.slide-container {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.slide-box {
	margin-bottom: 15rem;
	margin-top: 15px;
	text-align: center;
	margin: auto;
	border-radius: 100%;
	padding: 3rem;
	width: 70vh;
	height: 70vh;
	margin-bottom: 3rem;
}

.slide-box1 {
	background-size: 100%;
	background-position: center bottom;
	background-repeat: no-repeat;
	background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)), url(./sleep.png);
}
.slide-box2 {
	background: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)),
		url(./img/pexels-photo-2348017.jpeg);
	background-size: cover;
}
.slide-box3 {
	background: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)),
		url(./img/pexels-photo-2846764.jpeg);
	background-size: cover;
}
.slide-box4 {
	background: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)),
		url(./img/pexels-photo-3867513.jpeg);
	background-size: cover;
}

.wide-slide-container {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.wide-slide-box {
	height: 30rem;
	width: 100rem;
	margin-bottom: 10rem;
	margin-top: 10px;
	text-align: center;
	margin: auto;
}

.wide-slide-box1 {
	background: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)), url(./hand.png);
	background-size: cover;
}

.wide-slide-box2 {
	background: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)),
		url(./img/contact-mountain.png);
	background-size: cover;
}
.wide-slide-box3 {
	background: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)),
		url(./img/contact-mountain.png);
	background-size: cover;
}
.slide-box h2 {
	margin-top: 80px;
	color: white;
}
.wide-slide-content {
	width: 50%;
	color: white;
	font-size: 20px;
	font-weight: bold;
	margin-top: 100px;
}
.float-left {
	float: left;
}
.float-right {
	float: right;
}
h2 {
	margin-top: 2rem !important;
	margin-bottom: 2rem !important;
	font-weight: bolder;
}
.round-box {
	position: absolute;
	height: 2rem !important;
	width: 2rem !important;
	background: rgb(135, 183, 245);
	top: 0px;
	left: 90%;
	border-radius: 100%;
	margin-top: -15px;
	padding: 8px;
	padding-top: 5px;
}
.round-box > i {
	color: white;
	transform: rotate(90deg);
}
.die-content {
	background-color: #3c3948;
	width: 100% !important;
	height: 100% !important;
	color: white;
	padding: 1rem;
	padding-top: 2rem;
}
.box-content {
	position: relative;
}

.left-section {
	text-align: left;
	width: 15rem;
	margin: 5rem;
	position: absolute;
	top: 10%;
	left: 60%;
}
@media only screen and (max-width: 1026px) {
	.left-section {
		display: none !important;
	}
	.natch-layer {
		display: none !important;
	}
}
.auto-grid-element > div {
	position: relative;
}

.question-circle {
	position: absolute;
	height: 2.2rem !important;
	width: 2.2rem !important;
	background-color: silver;
	color: var(--color-text);
	top: 0px !important;
	left: 50% !important;
	border-radius: 100% !important;
	margin-top: -25px !important;
	padding: 7px !important;
	padding-top: 2px !important;
	padding-left: 9px !important;
	font-weight: bold;
	font-size: 30px;
}

.intro-text {
	font-weight: normal;
	font-size: 2.2rem;
	word-spacing: 0.2rem;
}

.round-circle-box {
	width: 50px;
	height: 50px;
	border: 1px solid white;
	position: absolute;
	border-radius: 100%;
	left: 80%;
	top: 0px;
	margin-top: -10px;
}
