body {
	margin: 0px;
	font-family: "segoe ui";
	padding-left: 30px;
	padding-right: 30px;
	background: url("./img/background.jpg");
	background-size: cover;
	min-width: 100%;
}

html {
	--hsl-h: 60;
	--hsl-s: 50%;
	--hsl-l: 50%;
	--shadow-x: 0.1rem;
	--shadow-y: 0.8rem;
	--color-line: var(--color-dark);
	--line-width: 2px;
}

.btn-style {
	background-color: rgb(94, 94, 252);
	color: white;
	text-transform: uppercase;
	height: inherit;
	width: inherit;
	transition: background-color 0.5s ease, color 1s ease;
	cursor: pointer;
	border-radius: 10px;
}

.btn-container {
	margin-top: 50px;
	margin-bottom: 50px;
}

.die-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: stretch;
	width: 80%;
	margin: auto;
	flex-basis: 50%;
	padding: 1rem;
}

.die-box {
	width: 20rem;
	text-align: center;
	justify-content: center;
	height: 20vh;
	padding: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.die-box i {
	transform: rotate(90deg);
}

.die-box1 {
	background-color: transparent;
}
.die-box2 {
	background-color: transparent;
}
.die-box3 {
	background-color: transparent;
}
.die-box4 {
	background-color: transparent;
}
.die-box5 {
	background-color: transparent;
}
.die-box6 {
	background-color: transparent;
}
.die-box7 {
	background-color: transparent;
}

.align-text-center {
	text-align: center;
}

.white-text {
	color: white;
}

.test-background {
	background: url("./img/pexels-photo-8377485.jpeg");
	background-size: cover;
}

.night-pack-background {
	background: url("./img/pexels-photo-2846764.jpeg");
	background-size: cover;
}

/* nav links  */

.nav-links a {
	color: inherit;
	text-decoration: none;
	font-weight: 800;
	margin-right: 1rem;
}

/* end of nav links  */

.section-1 {
	height: 80vh;
	padding: 2rem;
}

section-2 {
	background: black;
}

.night-container {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 1rem;
}

.night-box {
	width: 20rem;
	padding: 1rem;
	position: relative;
	background-color: rgb(68, 63, 63);
	margin-bottom: 1rem;
}

.slide-container {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.slide-box {
	margin-bottom: 10rem;
	margin-top: 10px;
	text-align: center;
	margin: auto;
	border-radius: 100%;
	padding: 2rem;
	width: 60vh;
	height: 60vh;
	margin-bottom: 3rem;
}

.slide-box1 {
	background: url("./img/pexels-photo-1070970.jpeg");
	background-size: cover;
}
.slide-box2 {
	background: url("./img/pexels-photo-2348017.jpeg");
	background-size: cover;
}
.slide-box3 {
	background: url("./img/pexels-photo-2846764.jpeg");
	background-size: cover;
}
.slide-box4 {
	background: url("./img/pexels-photo-3867513.jpeg");
	background-size: cover;
}

.wide-slide-container {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.wide-slide-box {
	height: 30rem;
	width: 100rem;
	margin-bottom: 10rem;
	margin-top: 10px;
	text-align: center;
	margin: auto;
}

.wide-slide-box1 {
	background: url("./img/pexels-photo-2598027.jpeg");
	background-size: cover;
}
.wide-slide-box2 {
	background: url("./img/contact-mountain.png");
	background-size: cover;
}
.wide-slide-box3 {
	background: url("./img/contact-mountain.png");
	background-size: cover;
}

.slide-box h2 {
	margin-top: 80px;
	color: white;
}

.wide-slide-content {
	width: 50%;
	color: white;
	font-size: 20px;
	font-weight: bold;
	margin-top: 100px;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

h2 {
	margin-top: 2rem !important;
	margin-bottom: 2rem !important;
	font-weight: bolder;
}

.round-box {
	position: absolute;
	height: 2rem !important;
	width: 2rem !important;
	background: white;
	top: 0px;
	left: 50%;
	border-radius: 100%;
	margin-top: -15px;
	padding: 8px;
	padding-top: 5px;
}

.die-content {
	background-color: rgb(95, 18, 18) !important;
	width: 100% !important;
	height: 100% !important;
	color: white;
	padding: 1rem;
	padding-top: 2rem;
}

.box-content {
	position: relative;
}

@media only screen and (max-width: 1026px) {
	.left-section {
		display: none !important;
	}
	.natch-layer {
		display: none !important;
	}
}
